/* Created by: Lily C
* Created on: 03/24/2023
* This CSS file defines the style for index.html
* Assign-02-PHP-Calculations
*/

body {
  background-color: darkseagreen;
}

h1 {
  background-color: rgb(217 174 148);
  color: hsl(7deg 44% 45%);
  padding: 40px;
  text-align: center;
}

h3 {
  background-color: #a44a3f;
  color: #d9ae94;
}
