/* Created by: Lily C
* Created on: 03/24/2023
* This CSS file defines the style for index.html
* Assign-02-PHP-Calculations
*/

body {
  background-color: azure;
}

h1 {
  background-color: rgb(99 118 141);
  color: hsl(190deg 100% 86%);
  padding: 40px;
  text-align: center;
}

h3 {
  background-color: #B8F3FF;
  color: #63768D;
}

h2 {
  background-color: #B8F3FF;
  color: #63768D;
}
